.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.customLogo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  transform: translateY(-12px);
}

.collapsed {
  justify-content: center;
}
