.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.customLogo {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.collapsed {
  justify-content: center;
}
