.container {
  display: flex;
  min-height: 100vh;
  background-color: #F0F2F5;
}

.wrapper {
  flex: 1;
  margin-left: 280px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.content {
  flex: 1;
  padding: 40px;
}
